@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Righteous&family=Roboto+Condensed&display=swap');
:root {
    --darkest: #0D1C29;
    --lightest: #E8F1F2;
    --teal-blue: #42728C;
    --beau-blue: #B1C7D0;
    --indigo-dye: #0A4769;
    /*https://coolors.co/0d1c29-0e1f2d-0a4769-42728c-799cae-e8f1f2*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */

header {
    display: flex;
    background-color: var(--darkest);
    color: var(--lightest);
}

header .logo {
    flex: 40%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

header .logo span {
    font-family: 'Righteous', cursive;
    font-size: x-large;
    color: var(--teal-blue);
}

header nav {
    flex: 60%;
    text-align: center;
}

header .logo,
nav {
    padding: 16px;
}

header nav ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

header nav ul li {
    flex: 0 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

header nav ul li:hover {
    color: var(--teal-blue);
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 800px) {
    header,
    header nav ul {
        flex-direction: column;
    }
}


/* First Section: Hero */

.hero {
    margin-top: -1px;
    /*Prevent a thin white line to appear between .hero and header*/
    padding: 10%;
    background-color: var(--darkest);
}

.hero .container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero .content {
    flex: 50%;
    color: var(--lightest);
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4vh;
}

.hero .container h1 {
    color: var(--beau-blue);
}

.hero .container button {
    color: var(--lightest);
    background-color: var(--teal-blue);
    border-radius: 10px;
    border: 0;
    font-family: 'Righteous', cursive;
    padding: 10px;
    margin-top: 10px;
    font-size: 3vh;
}

.hero .container button:hover {
    color: var(--teal-blue);
    background-color: var(--lightest);
    transition: 0.3s;
    cursor: pointer;
}

.hero .img {
    flex: 50%;
}

.hero .img img {
    width: 100%;
    object-fit: cover;
    /*max-height: 260px;*/
}

@media (max-width: 800px) {
    .hero .container {
        flex-direction: column;
    }
    .hero .image {
        margin-top: 15px;
        aspect-ratio: 16 / 9;
        width: 100%;
    }
}


/* Second Section: Information */

.info {
    background-image: linear-gradient(var(--darkest), var(--indigo-dye));
    margin-top: -1px;
}

.info .title {
    padding: 5%;
    text-align: center;
    color: var(--lightest);
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.info .title h2 {
    border-top: 1px solid var(--beau-blue);
    padding-top: 16px;
    color: var(--beau-blue);
}

.info .content {
    padding: 0% 15% 10% 15%;
}

.info .card-container {
    display: flex;
}

.info .card-container ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.info .card-container ul li {
    flex: 25%;
}

.info .card-container ul li .card-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--teal-blue);
    border-radius: 7%;
    box-shadow: 0 0 .2rem var(--lightest), 0 0 .2rem var(--lightest), 0 0 2rem var(--teal-blue), 0 0 0.8rem var(--teal-blue), 0 0 2.8rem var(--teal-blue), inset 0 0 1.3rem var(--teal-blue);
}

.info .card-container ul li h3 {
    color: var(--lightest);
    margin-top: 12px;
    font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 800px) {
    .info .card-container ul {
        flex-direction: column;
    }
    .info .card-container ul li {
        width: 30%;
        margin: auto;
    }
}


/*Third Section: Quote*/

.quote {
    padding: 13%;
    background-color: #E5E7EB;
}


/*Fourth Section: Call to Action*/

.action {
    padding: 12%;
    background-color: #3882F6;
}

.action .container {
    display: flex;
}

.action .container .content {
    flex: 70%
}

.action .container .button {
    flex: 30%;
    text-align: center;
}

@media (max-width: 800px) {
    .action .container {
        flex-direction: column;
        gap: 16px;
    }
}


/*Footer*/

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 20px;
    color: white;
}